@use '../variables' as vars;

.LogsPanel{
  position: fixed;
  bottom: 10px;
  // width: 300px;
  left: 10px;
  // transform: translateX(-50%);
  background-color: rgba(242, 247, 252, 0.956);
  color: #1b1b1bf4;
  padding: 10px;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  opacity: 1;

  display: flex;
  align-items: flex-end;
  gap: 0.5rem;

button {
    display: flex;
    width: inherit;
    height: min-content;
  }
}
