@use './variables' as vars;

* { box-sizing: border-box; }
html, body, #root {
    height: 100dvh;
    width: 100dvw;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  color: vars.$font-color;
}


.no-scroll {
  overflow: hidden !important;
  touch-action: none !important;
  overscroll-behavior: none !important;
  height: 100vh !important;
}

.no-scroll input[type="range"],
.no-scroll .track-volume {
  touch-action: auto !important;
  -webkit-user-select: none !important;
  user-select: none !important;
}
